:root
{
   --uncblue: RGB(1,45,91);
   --uncgold: RGB(254,189,54);
   --uncgray: RGB(235,235,235); 

   background-color: var(--uncgray)
}

nav
{
    color: var(--uncblue);
    border:5px solid var(--uncgold);
}

nav li
{
    display: inline;
    margin: 10px;
}

nav ul
{
    text-align: center;
    padding-left: 0px;
}

h1
{
    font-size: 48pt;
    text-align: center;
    color: var(--uncblue);
}

.date
{
    color:red ;
    font-weight: bold;
    font-size: 20pt;
    list-style-type: none;
}

.major
{
    font-style: bold;
}

.location
{
    font-weight: bold;
    font-size: 26pt;
}

.entry 
{
    background-color: rgb(163, 165, 156);
    color: var(--uncgray);
    border: 5px solid var(--uncgold);
    margin-top: 50px;
}

.title
{
    font-size: 20pt;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 300px;
}

ul li
{
    font-weight: bold;
    font-size: 40px;
    color: var(--uncblue);
}

.footertext
{
    display: block;
    margin-top: 200px;
    text-align: center;
}

h2
{
    text-align: center;
    font-size:40pt; 
    margin-top: 5px;
    color: blue;
}

h2 + p
{
   text-align: center; 
}

h2 + p + a
{
text-align: center;
display: block;
} 

iframe
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}